.SearchBar {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 80px;

}

@media (max-width:740px) {
    .SearchBar{
        padding-left:30px;
        padding-right:30px;
        align-items: center;
        margin: auto;

    }
    
}
.searchbar-form{
    width: 50%;
    margin-bottom: 20px;
}
@media (max-width:740px) {
    .searchbar-form{
        width: 100%;
    }
    
}
.searchbar{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 1px;
    border-radius:1em ;
    box-shadow: 2px 2px 10px  grey;
}
#searcharea{
    margin: 5px;
    padding: 10px;
    width: 80%;
    height: 100%;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;

}
#searcharea input{
    border: none;
    outline: none;
    font-size: 1.3em;
    font-weight: 800;
    margin-left: 10px;
    width: 90%;
    height:auto;

    color:black;
}

.searchbar button{
    margin: 6px;
    border-radius: 0.7em;
    background-color:#0179ff;
    border:none;
    font-weight: 700;
    padding: 0.8em;
    color: white;
}
.dropdown {
    position: relative;

    height:auto;

}


.dropdown-content {

    position: relative;
    border-radius: 10px;

    width:100%;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}
.dropdown-content select{

    width: 100%;
    padding:10px;
    border: none;
    border-radius: 10px;
}

.dropdown-content select option{
    
    font-family: sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}



body[class=DarkMode] .SearchBar{
    background-color: var(--dark-bg-color);
}
body[class=DarkMode] .searchbar{
    background-color: var(--article-color);
    box-shadow: none;
}
body[class=DarkMode] .searchbar input::placeholder{
    background-color: var(--article-color);
    box-shadow: none;
    color: var(--text-color);
}
body[class=DarkMode] .dropdown-content select{
    background-color: var(--article-color);
    color: white;
}